{% extends 'base.html' %}
{% block content %}

<h1 class="title is-2">{{organization.name}} Details</h1>
<section>
    <div class="container is-fluid">    
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">   
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <h4 class="title is-4"> {{organization.name}} </h4>
                        <ul>
                            <li>Address: {{organization.address}} </li>
                            <li>Email: {{organization.email}} </li>
                            <li>Phone Number: {{organization.phonenum}} </li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
    <br>

{% endblock %}

