{% extends 'base.html' %}
{% block content %}
<h1 class="title is-2">Name of Organization</h1>
<section>
    <div class="container is-fluid">    
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
                <a class="tile is-child box" href="#"></a>
            </div>
            <div class="tile is-parent">
                <ul class="tile is-child box">
                    <li>Address: </li>
                    <li>Phone Number: </li>
                    <li><a>Website</a></li>
                </ul>
            </div>
        </div> 
    </div>
</section>

{% endblock %}