{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Delete Organization</h1>

  <h4>Are you sure you want to delete {{ organization.name }}?</h4>

  <form action="" method="POST">
    {% csrf_token %}
      <button class="btn waves-effect waves-light red" type="submit" name="delete">Yes, Delete!
      </button>
      <button action="{% url 'org_detail' org.id %}" class="btn waves-effect waves-light blue"  type="submit" name="cancel">Cancel
        </button>
  </form>
</div>
{% endblock %}

<!-- {% url 'org_detail' org.id %} -->