{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Organization List</h1>
<h5>Don't see your favorite organization? 
    <a href="mailto:volungo2volunteer@gmail.com" target="_blank">Email us</a> and we will gladly
    add it!</h5>
 
<div class="row">
{% for org in orgs %}
<div class="col s12 m6">
    <div class="card deep-purple lighten-1">
    <div class="card-content white-text">
        <span class="org-name card-title">{{org.name}}</span>
        <p class="org-info"><i>Address:</i> {{org.address}}</p>
        <p class="org-info"><i>Website:</i> <a href="{{org.website}}" target-"_blank"></a>{{org.website}}</p>
        <p class="org-info"><i>Phone:</i> {{org.phonenum}}</p>
    </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}