{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Organization List</h1>
<h5>Don't see your favorite organization? 
    <a href="mailto:volungo2volunteer@gmail.com" target="_blank">Email us</a> and we will gladly
    add it!</h5>


<div class="container">
    {% for org in orgs %}
        <span class="card-title">{{org.name}}</span>
        <p><i>Address:</i> {{org.address}}</p>
        <p><i>Website:</i> {{org.website}}</p>
        <p><i>Phone:</i> {{org.phonenum}}</p>

</div>
        <br>
                        
    {% endfor %}
{% endblock %}