{% extends 'base.html' %}

{% block content %}

<h1 class="title is-2">Organization List</h1>
<h5>Don't see your favorite organization? 
    <a href="mailto:volungo2volunteer@gmail.com" target="_blank">Email us</a> and we will gladly
    add it!</h5>

    {% for org in orgs %}
<div class="row">
    <div class="col s12 m6">
        <div class="card deep-purple">
            <div class="card-content white-text">
                <span class="card-title">{{org.name}}</span>
                <p><i>Address:</i> {{org.address}}</p>
                <p><i>Website:</i>  <a href="{{org.website}}" target="_blank">{{org.website}}</a></p>
                <p><i>Phone:</i> {{org.phonenum}}</p>
            </div>
        </div>
    </div>
</div>
        <br>
                        
    {% endfor %}
{% endblock %}