{% extends 'base.html' %}
{% block content %}
<h1 class="title is-2">Event Details</h1>
<section>
    <div class="container is-fluid">    
        <div class="tile is-ancestor">
            <div class="tile is-parent is-4">
                <a class="tile is-child box" href="#"></a>
            </div>
            <div class="tile is-parent">
                <ul class="tile is-child box">
                    <li>Date: {{event.date}} </li>
                    <li>Time: {{event.time}} </li>
                    <li>Address: {{event.description}} </li>
                    <li>Details: {{event.details}} </li>
                    <li>User: {{event.user}} </li>
                </ul>
            </div>
                <div class="tile is-child box">
                    <a href="{% url 'events_update' event.id %}">Edit</a>
                    <a href="{% url 'events_delete' event.id %}">Delete</a>
                </div>
        </div> 
    </div>
</section>
    <br>
<section>
    <div>
        <form action="POST">
        <a class="button is-info">Add to My Volun-Go!</a>
        </form>
    </div>
</section>

{% endblock %}
