{% extends 'base.html' %}
{% block content %}
<h2>About Volun-Go!</h2>
<div class="container">       
    <div>
        <h4>Volun-Go! is the brainchild of Beth Smith, Michael Martinez, 
        and Ruben Caceres. We found a need to have a place where we could
        connect community members in searching for vounteer opportunities. 
        If you're seeking to give back, or are required to provide community 
        service, you've come to the right place!</h4>
    </div>
</div>
{% endblock %}