{% extends 'base.html' %}
{% block content %}
<div class="container is-fluid">    
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <a class="tile is-child box" href="#"></a>
            </div>
            <div class="tile is-parent">
                <p class="tile is-child box">Volun-Go! is the brainchild of Beth Smith, Michael Martinez, 
                and Ruben Caceres. We found a need to have a place where we could
                connect community members in searching for vounteer opportunities. 
                If you're seeking to give back, or are required to provide community 
                service, you've come to the right place!</p>
            </div>
        </div> 
    </div>
{% endblock %}