{% extends 'base.html' %}

{% block content %}

<h1 class="title is-1">My Volun-Go!</h1>



<div class="row">
    {% for event in events %}
    <div class="col s12 m6">
        <div class="card deep-purple lighten-1">
            <div class="card-content white-text">
                <a id="evt-link" href="{% url 'detail' event.id %}"><span class="card-title">{{event.title}}</span></a>
                <p>Description: {{event.description}}</p>
                <p>Location: {{event.location}}</p>
                <p>Date: {{event.date}}</p>
                <p>Duration: {{event.duration}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="container">
    <h5>Events You're Attending:</h5>
    <table class="striped">
        <thead>
            <th>Event</th><th>Date</th><th>Location</th>
        </thead>
        <tbody>
            {% for event in event_attend %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.location }}</td>
                    <td><form action="{% url 'event_remove' event.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn waves-effect waves-light red" type="submit" name="delete">Remove
                        <i class="material-icons right">highlight_off</i>
                        </button>
                    </form></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<br>
{% endblock %}