{% extends 'base.html' %}

{% block content %}

<h1 class="title is-1">My Volun-Go!</h1>

{% for event in events %}

<div class="container is-fluid">
    <a href="{% url 'detail' event.id %}">
        <span class="card-title">{{event.title}}</span>
        <p>Description: {{event.description}}</p>
        <p>Location: {{event.location}}</p>
        <p>Date: {{event.date}}</p>
        <p>Duration: {{event.duration}}</p>
    </a>
</div>
<div class="container is-fluid">
    <table class="striped">
        <thead>
            <th>Event</th><th>Date</th><th>Location</th>
        </thead>
        <tbody>
            {% for eventattend in event.eventattent_set.all %}
                <tr>
                    <td>{{ eventattend.title }}</td>
                    <td>{{ eventattend.date }}</td>
                    <td>{{ eventattend.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<br>
{% endfor %}
{% endblock %}