{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Volun-Go!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Actor|Luckiest+Guy|Monoton|Viga|Roboto+Condensed|Anton|Architects+Daughter|Voltaire" rel="stylesheet">
  <script src="{% static 'js/index.js' %}"></script>
</head>
  <body class="mbody">
    <header>
      <div id="navbar" class="navbar-fixed">
      <nav class="deep-purple">
        <div class="nav-wrapper">
          <div class="container">
            <ul>
              <li><a href="/" class="brand-logo">Volun-Go!</a></li>
                <a href="#" class="sidenav-trigger" data-target="mobile-links" style="float: right">
                  <i class="material-icons">menu</i>
                </a>
            </ul>
            <!-- nav bar links --> 
            <ul id="links" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}   
                  <li><a href="{% url 'accounts' %}">My Volun-Go!</a></li>
                  <li><a href="{% url 'index' %}">All Events</a></li>
                  <li><a href="{% url 'events_create' %}">Add Event</a></li> 
                  <li><a href="{% url 'logout' %}">Logout</a>></li> 
                {% else %}
                  <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
      <ul class="sidenav" id="mobile-links">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}   
          <li><a href="{% url 'accounts' %}">My Volun-Go!</a></li>
          <li><a href="{% url 'index' %}">All Events</a></li>
          <li><a href="{% url 'events_create' %}">Add Event</a></li> 
          <li><a href="{% url 'logout' %}">Logout</a>></li> 
        {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
  </header>
  
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <br>
  <!-- footer -->
  <footer id="footer-nav" class="page-footer deep-purple">
      <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Text
        <a href="{% url 'faqs' %}">FAQs</a>
        <a href="{% url 'contact' %}">Contact Us!</a>
        </div>
      </div>
    </footer>
  <!-- jquery script -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
        $('.sidenav').sidenav();

    });
    const selectEl = document.querySelectorAll('select');
    M.FormSelect.init(selectEl);
  </script>
</body>
</html>