{% extends 'base.html' %}
{% block content %}
<h1><b>Frequently Asked Questions</b></h1>
<hr>
<h4><i>When I add the event to my account, does it add it to my Google Calendar?</i></h4>
<br>
<p>Currently Volun-Go does not link with Google Calendar. However, it is a feature we are working on, 
        so check back!</p>
<hr>
<h4><i>I don't see any volunteer opportunities that I like, can I create one?</i></h4>
<br>
<p>Absolutely! Just click on the Add Event link in the navigation bar.</p>
<hr>
<h4><i>I created an event but I put the wrong date. Is there a way to edit?</i></h4>
<br>  
<p>Events can only be edited or deleted by the event creator. If you created an event, simply go to
         the event detail page to find the Edit and Delete buttons.
<hr>
{% endblock %}